body {
  color: white;
}

#background {
  margin-top: -54px;
  background-image: url(../../images/homepage_background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  text-align:center; 
  display:table;
  #home-content {
    display:table-cell;
    vertical-align: middle;
    h1 {
      //padding-top: 5rem;
      font-size: 5rem;
      font-weight: 700;
      letter-spacing: 3px;
    }
  }
  
}

.button {
  margin: 4rem 2.5rem 0 2.5rem;
}