<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SmartCast</title>
    <link rel="stylesheet" href="../../assets/stylesheets/css/application.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto" rel="stylesheet">
  </head>

  <body>

    <header class="cf">
      <!-- Navigation -->
      <nav class="navbar fixed-top navbar-expand-lg bg-dark ">
        <div class="container">
          <a id="logo" class="navbar-brand" href="../welcome/index.html">SMARTCAST</a>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Explore</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Create Podcast</a>
              </li>
              <li>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="banner" class="smartcast-banner">
      <h1 class="text-center">Discover your favourite Podcast</h1>
    </div>

    <div id="podcasts" class="cf">
      <div class="wrapper">
        <ul class="cf">
          <a href="#">
            <li>
              <img src="../../assets/images/welcome_background.jpg" alt="podcast thumbnail"/>
              <div class="podcast-overview">
                <h4>Podcast Title</h4>
                <p class="episode-count">2 episodes</p>
              </div>
            </li>
          </a>
          <a href="#">
            <li>
              <img src="../../assets/images/welcome_background.jpg" alt="podcast thumbnail"/>
              <div class="podcast-overview">
                <h4>Podcast Title</h4>
                <p class="episode-count">2 episodes</p>
              </div>
            </li>
          </a>
          <a href="#">
            <li>
              <img src="../../assets/images/welcome_background.jpg" alt="podcast thumbnail"/>
              <div class="podcast-overview">
                <h4>Podcast Title</h4>
                <p class="episode-count">2 episodes</p>
              </div>
            </li>
          </a>
          <a href="#">
            <li>
              <img src="../../assets/images/welcome_background.jpg" alt="podcast thumbnail"/>
              <div class="podcast-overview">
                <h4>Podcast Title</h4>
                <p class="episode-count">2 episodes</p>
              </div>
            </li>
          </a>
          <a href="#">
            <li>
              <img src="../../assets/images/welcome_background.jpg" alt="podcast thumbnail"/>
              <div class="podcast-overview">
                <h4>Podcast Title</h4>
                <p class="episode-count">2 episodes</p>
              </div>
            </li>
          </a>
          <a href="#">
            <li>
              <img src="../../assets/images/welcome_background.jpg" alt="podcast thumbnail"/>
              <div class="podcast-overview">
                <h4>Podcast Title</h4>
                <p class="episode-count">2 episodes</p>
              </div>
            </li>
          </a>
        </ul>
      </div>
    </div>

    <div class="pagination">
      <span class="previous_page disabled">Previous</span>
      <em class="current">1</em>
      <a href="#">2</a> 
      <a href="#">3</a>
      <a class="next_page" href="#">Next</a>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="../../assets/javascripts/bootstrap.min.js"></script>
  </body>
</html>