<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SmartCast</title>
    <link rel="stylesheet" href="../../assets/stylesheets/css/application.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto|Comfortaa" rel="stylesheet">
  </head>

  <body>

    <header class="cf bg-dark">
      <div class="wrapper-wide">
        <a id="logo" href="../welcome/index.html">SMARTCAST</a>
        <nav>
          <ul>
              <li>
                <a href="explore.html">Explore</a>
              </li>
              <li>
                <a href="#">Sign In</a>
              </li>
              <li>
                <a href="#">Create Podcast</a>
              </li>
              <li>
                <div class="dropdown cf">
                <button class="dropbtn"><img src="../../assets/images/user-logo.png" alt="user-logo"/><p>Username</p></button>
                  <div class="dropdown-content">
                    <a href="../profile/profile.html">Profile</a>
                    <a href="#">Account settings</a>
                    <a href="#">Logout</a>
                  </div>
                </div>
              </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="spacer"></div>

    <div id="banner" class="smartcast-banner">
      <h1>Create your Podcast</h1>
    </div>

    
    <form id="input-container" class="cf wrapper">
        <div id="image-upload">
        <!--
          <p>Image upload</p>
          <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Choose image
          </label>
          <input id="file-upload" type="file"/>
        -->
          <input type="file" name="thumbnail" id="thumbnail" class="inputfile" />
          <label for="thumbnail" class="inputfile-label">Choose a file</label>
        </div>
        <div id="title">
          <input type="text" placeholder="Insert Podcast title" class="border-animation" />
        </div>
        <div id="description" >
          <textarea placeholder="Insert Podcast description" class="border-animation"></textarea>
        </div>
        
        <div class="btn-bar">
          <div id="pod-type">
            <ul>
              <li>
                <label class="container">Podcast audio
                  <input type="radio" name="radio" checked/>
                  <span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="container">Podcast video
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                </label>
              </li>
            </ul>
          </div>
          <div class="right">
            <a class="button button-highlight" href="show.html">Create</a>
            <a class="button button-white" href="explore.html">Cancel</a>
          </div>
        </div>
    </form>
  </body>
</html>