<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SmartCast</title>
    <link rel="stylesheet" href="../../assets/stylesheets/css/application.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto|Comfortaa" rel="stylesheet">
  </head>

  <body>
    <header class="cf bg-dark">
      <div class="wrapper-wide">
        <a id="logo"href="../welcome/index.html">SMARTCAST</a>
        <nav>
          <ul>
              <li>
                <a href="explore.html">Explore</a>
              </li>
              <li>
                <a href="#">Sign In</a>
              </li>
              <li>
                <a href="new.html">Create Podcast</a>
              </li>
              <li>
                <div class="dropdown cf">
                <button class="dropbtn"><img src="../../assets/images/user-logo.png" alt="user-logo"/><p>Username</p></button>
                  <div class="dropdown-content">
                    <a href="../profile/profile.html">Profile</a>
                    <a href="#">Account settings</a>
                    <a href="#">Logout</a>
                  </div>
                </div>
              </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="spacer"></div>

    <div id="banner" class="show-podcast-banner">
      <img src="../../assets/images/welcome_background.jpg" alt="podcast-thumbnail" />
      <h1>Podcast Title here</h1>
      <div class="pod-description">
        <table>
          <td>
            <p class="col-large"> Descrizione podcast.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus purus vel tellus commodo maximus. Sed nec arcu consequat, lacinia dui eget, dignissim leo. Donec viverra dignissim erat, non ultricies turpis venenatis quis.
        </p>
          </td>
          <td><img id="artist-thumbnail" src="../../assets/images/user-logo.png" alt="user-thumbnail" /></td>
          <td class="col-medium"><a href="../profile/profile.html">Artist Name</a></td>
          <td class="col-medium">Created at --</td>
        </table>
      </div>
    </div>

    <div id="episodes">
      <div class="wrapper-skinny">
        <ul class="cf">
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#"><img src="../../assets/images/welcome_background.jpg" alt="episode-thumbnail" /></a>
            </div>
            <div class="episode_overview">
              <h2>Episode title</h2>
              <p class="description">Episode description</p>
            </div>
          </li>
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#"><img src="../../assets/images/welcome_background.jpg" alt="episode-thumbnail" /></a>
            </div>
            <div class="episode_overview">
              <h2>Episode title</h2>
              <p class="description">Episode description</p>
            </div>
          </li>
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#"><img src="../../assets/images/welcome_background.jpg" alt="episode-thumbnail" /></a>
            </div>
            <div class="episode_overview">
              <h2>Episode title</h2>
              <p class="description">Episode description</p>
            </div>
          </li>
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#"><img src="../../assets/images/welcome_background.jpg" alt="episode-thumbnail" /></a>
            </div>
            <div class="episode_overview">
              <h2>Episode title</h2>
              <p class="description">Episode description</p>
            </div>
          </li>
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#"><img src="../../assets/images/welcome_background.jpg" alt="episode-thumbnail" /></a>
            </div>
            <div class="episode_overview">
              <h2>Episode title</h2>
              <p class="description">Episode description</p>
            </div>
          </li>
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#"><img src="../../assets/images/welcome_background.jpg" alt="episode-thumbnail" /></a>
            </div>
            <div class="episode_overview">
              <h2>Episode title</h2>
              <p class="description">Episode description</p>
            </div>
          </li>
        </ul>

        <div class="pagination">
          <span class="previous_page disabled">Previous</span>
          <em class="current">1</em>
          <a href="#">2</a> 
          <a href="#">3</a>
          <a class="next_page" href="#">Next</a>
        </div>
      </div>
    </div>
  </body>
</html>