<div class="banner account-settings-banner">
  <h1><%= t("user.account_settings") %></h1>
</div>

<div class="wrapper">
  <section>
    <article>
      <details>
        <summary>General</summary>
        <div class="wrapper-skinny slider">
          <table>
            <td class="text-align-right"><h2>Name</h2></td>
            <td><input class="border-animation" type="text" maxlength="20" placeholder="Change Name" /></td>
            <tr />
            <td class="text-align-right"><h2>Surname</h2></td>
            <td><input class="border-animation" type="text" maxlength="20" placeholder="Change Surname" /></td>
          </table>
        </div>
      </details>
    </article>

    <article>
      <details>
        <summary>Security</summary>
        <div class="wrapper-skinny slider">
          <table>
            <td class="text-align-right"><h2>Current Password</h2></td>
            <td><input class="border-animation" type="password" placeholder="Password" /></td>
            <tr/>
            <td class="text-align-right"><h2>New Password</h2></td>
            <td><input class="border-animation" type="password" placeholder="New Password" /></td>
            <tr/>
            <td class="text-align-right"><h2>Reinsert New Password</h2></td>
            <td><input class="border-animation" type="password" placeholder="Reinsert New Password" /></td>
        </table>
        </div>
      </details>
    </article>

    <article>
      <details>
        <summary>Delete Account</summary>
        <div class="wrapper-skinny button-bar slider">
          <a class="button button-alert" href="#">Delete Account</a>
        </div>
      </details>
    </article>

  </section>
</div>