<body bgcolor="009999">

<div id="banner" class="podcasts_banner" >
  <h1 align="center">SMARTCAST</h1>
</div>

<div class="row" align="center">
  <aside class="col-md-4">
    <section class="user_info">
      <p>
        <%= @user.username %>
      </p>
      <p>
        <%= @user.email %>
      </p>
      <hr align=”center” size=”1″ width=”300″ noshade></hr>
        <%for pod in @user.podcasts %>
			<li>
				
					<h2><%= link_to pod.name, podcast_path(pod.id) %></h2>
					
			</li>
		<%end%> 
      </h1>
    </section>
  </aside>
</div>