<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SmartCast</title>
		<link rel="stylesheet" href="../../assets/stylesheets/css/application.css">

		<!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli|Roboto|Comfortaa" rel="stylesheet">
	</head>

	<body>

		<header class="cf">
			<!-- Navigation -->
			<div class="wrapper-wide">
				<a id="logo" href="#"><img src="../../assets/images/logo.png" alt="logo"/></a>
				<nav>
					<ul>
	    				<li>
	    					<a href="../podcast/explore.html">Explore</a>
	    				</li>
	    				<li>
	    					<a href="#">Sign In</a>
	    				</li>
			    		<li>
			    			<a href="../podcast/new.html">Create Podcast</a>
			    		</li>
			    		<li>
			    			<div class="dropdown">
				    			<button class="dropbtn">
				    				<img src="../../assets/images/user-logo.png" alt="user-logo"/><p>Username</p>
				    			</button>
			    				<div class="dropdown-content">
			    					<a href="../profile/profile.html">Profile</a>
			    					<a href="#">Account settings</a>
			    					<a href="#">Logout</a>
			    				</div>
			    			</div>
			    		</li>
			    		<!--
			    		<li>
			    			<a href="javascript:void(0);">User</a>
			    			<ul class="dropdown">

	    						<li>
	    							<a href="#">Profile</a>
	    						</li>
	    						<li>
	    							<a href="#">Account Settings</a>
	    						</li>
	    						<li>
	    							<a href="#">Logout</a>
	    						</li>
	    					</ul>
			    		</li>
			    		-->
					</ul>
				</nav>
			</div>
		</header>

		<div id="background" class="wrapper-skinny">
			<div id="home-content">
				<h1>SmartCast</h1>
				<h3>Discover your favourite Podcast, or create your own</h3>
				<a class="button button-highlight" href="../podcast/new.html">Create Podcast</a>
				<a class="button button-white" href="../podcast/explore.html">Explore</a>
			</div>
		</div>

		<!-- jQuery -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	</body>
</html>