<div id="background" class="wrapper-skinny">
	<div id="home-content">
		<h1>SmartCast</h1>
		<h3 class="welcome-page-text">Discover your favourite Podcast, or create your own</h3>
		<a class="button button-highlight" href="../podcast/new.html">Create Podcast</a>
		<a class="button button-white" href="../podcast/explore.html">Explore</a>
	</div>
</div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>