<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SmartCast</title>
    <link rel="stylesheet" href="../../assets/stylesheets/css/application.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto|Comfortaa" rel="stylesheet">
  </head>

  <body>

    <header class="cf bg-dark">
      <div class="wrapper-wide">
        <a id="logo" href="../welcome/index.html">SMARTCAST</a>
        <nav>
          <ul>
              <li>
                <a href="../podcast/explore.html">Explore</a>
              </li>
              <li>
                <a href="#">Sign In</a>
              </li>
              <li>
                <a href="../podcast/new.html">Create Podcast</a>
              </li>
              <li>
                <a href="../other_pages/faq_page.html">FAQ</a>
              </li>
              <li>
                <div class="dropdown cf">
                <button class="dropbtn"><img src="../../assets/images/user-logo.png" alt="user-logo"/><p>Username</p></button>
                  <div class="dropdown-content">
                    <a href="../profile/profile.html">Profile</a>
                    <a href="../profile/account_settings.htmlllllllll">Account settings</a>
                    <a href="#">Logout</a>
                  </div>
                </div>
              </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="spacer"></div>

    <div id="banner" class="smartcast-banner">
      <h1>Create a new Podcast Episode</h1>
    </div>


    <form id="input-container" class="cf wrapper">
        <div id="image-upload">
          <input type="file" name="thumbnail" id="thumbnail" class="inputfile" />
          <label for="thumbnail" class="inputfile-label">Choose a file</label>
        </div>
        <div id="title">
          <input type="text" placeholder="Insert Episode title" class="border-animation" />
        </div>
        <div id="description" >
          <textarea placeholder="Insert Episode description" class="border-animation"></textarea>
        </div>
        <div class="btn-bar">
          <div id="episode-upload">
            <input type="file" name="thumbnail" id="thumbnail" class="inputfile" />
            <label for="thumbnail" class="inputfile-label">Choose a file</label>
          </div>
          <div class="right">
            <a class="button button-highlight" href="#">Create</a>
            <a class="button button-white" href="../podcast/show.html">Cancel</a>
          </div>
        </div>
    </form>
  </body>
</html>
