<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SmartCast</title>
    <link rel="stylesheet" href="../../assets/stylesheets/css/application.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto|Comfortaa" rel="stylesheet">
  
	
	</head>

  <body>
    <header class="cf bg-dark">
      <div class="wrapper-wide">
       
        <nav>
          <ul>
              <li>
                <a href="explore.html">Explore</a>
              </li>
              <li>
                <a href="#">Sign In</a>
              </li>
              <li>
                <a href="new.html">Create Podcast</a>
              </li>
              <li>
                <div class="dropdown cf">
                <button class="dropbtn"><img src="../../assets/images/user-logo.png" alt="user-logo"/><p>Username</p></button>
                  <div class="dropdown-content">
                    <a href="../profile/profile.html">Profile</a>
                    <a href="#">Account settings</a>
                    <a href="#">Logout</a>
                  </div>
                </div>
              </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="spacer">
      
    </div>

    <div id="banner" class="show-episode-banner">
     <div align="center"> <img src="../../assets/images/welcome_background.jpg" alt="podcast-thumbnail" /></div>
      <h1>Episode title
	  </h1>
      <div class="ep-description">
        <table>
         
			<p class="col-large"> podcast title
        </p>
         <div align="left">
          <td><img id="artist-thumbnail" src="../../assets/images/user-logo.png" alt="user-thumbnail" /></td>
          <td class="col-medium"><a href="../profile/profile.html">Artist Name</a></td>
			<td class="col-medium">Created at --</td>
            <td>
              <a class="button button-highlight" href="#">Edit</a>
           </td>
       
      </div>
  	</table>
</div>
	  </div>

  <div id="episode_content" >
	<div class="wrapper_skinny">
		
  		<div align= "center">
  		  <p align="center" class="description"> <font color="blue"><strong> description </strong></font></p>
  		  <video width="700" height="400" controls >
			s
			</video>
		  <div align="center"><td>
				
                  <a  class="button button-like" 
					 href="#">like</a>
                </td></div>
	  </div>
	
		
	  </div>
	  
	  <div align="center">
	  <font color="dark">
	  
		  commenta:<br> 
		  <textarea name="commento" rows="5"
					cols="30"></textarea>
		  </font>
	  </div>
	   <div align="center">
		  <td>
                  <a  class="button button-comment" 
					 href="#">commenta</a>
                </td>
		
		  </div>
	  
	</div>
	  <div id="episodes">
      <div class="wrapper-skinny">
        <ul class="cf">
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#"><img src="../../assets/images/video-marketing.jpg" alt="episode-thumbnail" /></a>
            </div>
            <div class="episode_overview">
              <table>
                <td class="col-large">
                  <h2>Episode title2</h2>
                  <p class="description">Episode description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </td>
                <td>
                  <a class="button button-highlight" href="../episode/edit.html">Edit</a>
                </td>
                <td>
                  <a class="button button-alert" href="#">Delete</a>
                </td>
              </table>
            </div>
          </li>
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#"><img src="../../assets/images/video-marketing.jpg" alt="episode-thumbnail" /></a>
            </div>
            <div class="episode_overview">
              <table>
                <td class="col-large">
                  <h2>Episode title3</h2>
                  <p class="description">Episode description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </td>
                <td>
                  <a class="button button-highlight" href="../episode/edit.html">Edit</a>
                </td>
                <td>
                  <a class="button button-alert" href="#">Delete</a>
                </td>
              </table>
            </div>
          </li>
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#"><img src="../../assets/images/video-marketing.jpg" alt="episode-thumbnail" /></a>
            </div>
            <div class="episode_overview">
              <table>
                <td class="col-large">
                  <h2>Episode title4</h2>
                  <p class="description">Episode description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </td>
                <td>
                  <a class="button button-highlight" href="../episode/edit.html">Edit</a>
                </td>
                <td>
                  <a class="button button-alert" href="#">Delete</a>
                </td>
              </table>
            </div>
          </li>
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="#"><img src="../../assets/images/video-marketing.jpg" alt="episode-thumbnail" /></a>
            </div>
            <div class="episode_overview">
              <table>
                <td class="col-large">
                  <h2>Episode title5</h2>
                  <p class="description">Episode description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </td>
                <td>
                  <a class="button button-highlight" href="../episode/edit.html">Edit</a>
                </td>
                <td>
                  <a class="button button-alert" href="#">Delete</a>
                </td>
              </table>
            </div>
          </li>
          
        </ul>

        <div class="pagination">
          <span class="previous_page disabled">Previous</span>
          <em class="current">1</em>
          <a href="#">2</a> 
          <a href="#">3</a>
          <a class="next_page" href="#">Next</a>
        </div>
      </div>
  </div>
</body>
</html>