* {
    box-sizing: border-box;
}

.create-podcast-banner {
	background-image: image-url("explore_banner.jpg");
}

#input-container {
	color: $dark;
	
	#image-upload {
		height: 3rem;
		width: 25%;
		margin-bottom: 3rem;
		float: left;
	}
	#title input {
		height: 3rem;
		width: 75%;
		float: right;
		margin-bottom: 3rem;
	}
	#description textarea {
		float: clear;
		height: 8rem;
		width: 100%;
		padding: 1rem;
		max-width: 100%;
		overflow: vertical-scroll;
		resize: none;
	}
	#pod-type {
		float: left;
		display: block;
		ul {
			list-style: none;
		}
	}
}

.right {
	float: right;
}

.btn-bar {
	width: 100%;
	padding: 1rem;
}
