<div class="banner smartcast-banner">
  <h1>Discover your favourite Podcast</h1>
</div>

<div id="search-container" class="cf">
  <form name="search-form">
    <input type="text" placeholder="Search Podcasts" name="search-text" class="border-animation" />
    <input type="submit" value="Search" class="button button-highlight"/>
  </form>
</div>

<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul class="cf">
    	<% for pod in @podcasts %>
	      <%= link_to(pod) do %>
	        <li>
	          <%= image_tag "welcome_background.jpg", alt: "Podcast image" %>
	          <div class="podcast-overview">
	            <h2><%= pod.name %></h2>
	            <p class="episode-count"><%= pod.episodes.count %> episodes</p>
	          </div>
	        </li>
	      <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="pagination">
  <span class="previous_page disabled">Previous</span>
  <em class="current">1</em>
  <a href="#">2</a>
  <a href="#">3</a>
  <a class="next_page" href="#">Next</a>
</div>
