<header class="cf<%= ' bg-dark' if controller.controller_name != 'welcome' %>">
	<!-- Navigation -->
	<div class="wrapper-wide">
		<%= link_to image_tag("logo-highlight.png", alt: "logo"), root_path, id: "logo" %>
		<nav>
			<ul>
				<li>
					<a href="../podcast/explore.html">Explore</a>
				</li>
				<li>
					<%= link_to "Sign In", sign_in_path %>
				</li>
    		<li>
    			<a href="../podcast/new.html">Create Podcast</a>
    		</li>
        <li>
            <a href="../other_pages/faq_page.html">FAQ</a>
        </li>
    		<li>
    			<div class="dropdown">
	    			<button class="dropbtn">
	    				<img src="../../assets/images/user-logo.png" alt="user-logo"/><p>Username</p>
	    			</button>
    				<div class="dropdown-content">
    					<a href="../profile/profile.html">Profile</a>
    					<a href="../profile/account_settings.html">Account settings</a>
    					<a href="#">Logout</a>
    				</div>
    			</div>
    		</li>
			</ul>
		</nav>
	</div>
</header>